{% extends "base.html" %}

{% block title %}
About page
{% endblock %}


{% block content %}
<h1>About Page</h1>
<p>In this lesson we are learning about Template Inheritance</p>  
{% endblock %}
<!-- <!DOCTYPE html>
<html>
<h1>About us</h1>
<p>We are a non-profit organization working as an animal rescue center. 
    We aim to help you connect with purrfect furbaby for you! 
    The animals you find at our website are rescue animals which have been rehabilitated. 
    Our mission is to promote the ideology of "Adopt, don't Shop"!</p>
</html> -->